* {
    font-family: "Inter", sans-serif;
}

body{
    margin: 0px;
}

/* header section start */

.header_section{
    padding: 16px 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.container{
    max-width: 1320px;
    margin: 0px auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.menu_bar {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.menu_items {
    list-style: none;
}

.menu_items a{
    text-decoration: none;
    font-size: 14px;
    color: #575757;
    line-height: 25.6px;
    font-weight: 400;
}

a.main_button {
    display: block;
    width: 188px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #1D4ED8;
    padding: 12px;
    border-radius: 10px;
}

/* header section end */

/* hero banner section start */

.hero_banner_section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 786px;
    text-align: center;
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.60) 30%, rgba(0, 0, 0, 0) 70%),
        linear-gradient(45deg, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
        url("./assets/banner.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        position: relative;
}

a.hero_button {
    display: block;
    width: 282px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #1D4ED8;
    padding: 12px;
    border-radius: 10px;
}

.banner_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_heading {
    margin: 0px;
    font-weight: bold;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 80px;
    letter-spacing: -3.2px;
}

p.banner_des {
    margin: 20px 0px 0px 0px;
    font-size: 22px;
    font-weight: 200;
    line-height: 24px;
    color: #fff;
    opacity: 0.9;
    width: 770px;
}
.hero_btn {
    position: absolute;
    bottom: 70px;
}

.content {
    position: absolute;
    top: 169px;
}
/* hero banner section end */
