* {
    font-family: "Inter", sans-serif;
}

body{
    margin: 0px;
}

/* header section start */

.header_section{
    padding: 16px 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.container{
    max-width: 1320px;
    margin: 0px auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.menu_bar {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.menu_items {
    list-style: none;
}

.menu_items a{
    text-decoration: none;
    font-size: 14px;
    color: #575757;
    line-height: 25.6px;
    font-weight: 400;
}

a.main_button {
    display: block;
    width: 188px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #1D4ED8;
    padding: 12px;
    border-radius: 10px;
}

/* header section end */

/* hero banner section start */

.hero_banner_section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 786px;
    text-align: center;
    background-image:
        linear-gradient(90deg, rgba(0, 0, 0, 0.60) 30%, rgba(0, 0, 0, 0) 70%),
        linear-gradient(45deg, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
        url("./assets/banner.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        position: relative;
}

a.hero_button {
    display: block;
    width: 282px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #1D4ED8;
    padding: 12px;
    border-radius: 10px;
}

.banner_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_heading {
    margin: 0px;
    font-weight: bold;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 80px;
    letter-spacing: -3.2px;
}

p.banner_des {
    margin: 20px 0px 0px 0px;
    font-size: 22px;
    font-weight: 200;
    line-height: 24px;
    color: #fff;
    opacity: 0.9;
    width: 770px;
}
.hero_btn {
    position: absolute;
    bottom: 70px;
}

.content {
    position: absolute;
    top: 169px;
}
/* hero banner section end */


/* speaker section start */

.speaker_container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

h2.speakers_heading {
    margin: 0px;
    font-size: 56px;
    font-weight: bold;
    line-height: 64.4px;
    color: #000102;
}

.speakers_card_container {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 32px;
}
.speakers_card {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
}

img.speaker_img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.card_content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

span.speakers_catagory {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #2563EB;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

h3.speaker_name {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    line-height: 27.5px;
    color: #0D1B2A;
}

p.speaker_tile {
    margin: 0px;
    font-size: 14px;
    line-height: 21px;
    color: #575757;
}

/* speaker section end */


/* pricing section start */

.pricing_container {
    max-width: 1440px;
    padding: 0px 60px 80px 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

h2.pricing_heading {
    margin: 0px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #0D1B2A;
    line-height: 60px;
}

p.pricing_subheading {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #575757;
    font-weight: 400;
    padding-top: 12px;
}

.pricing_card_container {
    margin: 0 auto;
    width: 100%;
    max-width: 1160px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.standard_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
}

.pro_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background-color: #0D1B2A;
    border-radius: 12px;
    border: 1px solid #0D1B2A;
}

.team_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background-color: #F8F9FB;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
}
h3.pro_card_price {
    margin: 0px;
    padding: 8px 0px 0px 0px;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    color: #fff;
}

p.pro_card_des {
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 4px;
    padding-bottom: 20px;
    color: #FFFFFF;
    opacity: 50%;
    line-height: 19.5px;
}

ul.pro_feature_list {
    gap: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}


.pro_feature_list li {
    position: relative;
    line-height: 21px;
    list-style: none;
    padding-left: 16px;
    font-size: 14px;
    color: #fff;
    opacity: 80%;
    font-weight: normal;
}

p.pro_badge {
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    margin: 0px;
    color: #93C5FD;
    text-transform: uppercase;
}

.pro_feature_list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 5px;
  height: 5px;
  background: #60A5FA;
  border-radius: 50%;
}


a.pro_pricing_btn {
    width: 100%;
    padding: 11px 0px;
    border-radius: 8px;
    text-align: center;
    line-height: 21px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    background-color: #2563EB;
}

p.badge {
    font-size: 13px;
    margin: 0px;
    font-weight: 600;
    line-height: 19.5px;
    color: #888888;
    text-transform: uppercase;
}

h3.card_price {
    line-height: 44px;
    font-weight: bold;
    padding-top: 8px;
    color: #0D1B2A;
    font-size: 44px;
    margin: 0px;
}

p.card_des {
    margin: 0px;
    line-height: 19.5px;
    padding-top: 4px;
    font-size: 13px;
    padding-bottom: 20px;
    color: #888888;
    border-bottOm: 1px solid #E5E7EB;
}

ul.feature_list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature_list li {
    position: relative;
    line-height: 21px;
    list-style: none;
    padding-left: 16px;
    font-size: 14px;
    color: #333333;
    opacity: 80%;
    font-weight: normal;
}

.feature_list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 5px;
  height: 5px;
  background: #2563EB;
  border-radius: 50%;
}


a.standard_pricing_btn {
    width: 100%;
    padding: 11px 0px;
    border-radius: 8px;
    text-align: center;
    line-height: 21px;
    text-decoration: none;
    font-size: 14px;
    color: #2563EB;
    font-weight: 600;
    border: 1px solid #2563EB;
    
}

a.team_pricing_btn {
    width: 100%;
    padding: 11px 0px;
    border-radius: 8px;
    text-align: center;
    line-height: 21px;
    text-decoration: none;
    font-size: 14px;
    color: #0D1B2A;
    font-weight: 600;
    border: 1px solid #0D1B2A;
    
}
/* pricing section end */

/* footer section start */

section.footer_section {
    background-color: #0D1B2A;
    padding: 56px 60px 32px 60px;
}

.footer_container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.logo_social_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 0.5px solid #fff;
}

.copy_write_container {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

img.footer_logo {
    width: 150px;
}

.social_container {
    gap: 24px;
    display: flex;
    flex-direction: row;
}

.social_img img{
    width:30px;
}


p.copy_writer {
    margin: 0px;
    opacity: 40%;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 300;
    color: #fff;
}

ul.policy_link {
    display: flex;
    list-style: none;
    margin: 0px;
    flex-direction: row;
    gap: 24px;
    padding: 0px;
}

.policy_link a {
    font-size: 16px;
    line-height: 19.5px;
    color: #fff;
    opacity: 40%;
    font-weight: 300;
    text-decoration: none;
}


/* footer section end */